[submodule "external/psiStabilizer"]
	path = external/psiStabilizer
	url = https://github.com/Jthora/psiStabilizer.git
[submodule "external/psionicDefender"]
	path = external/psionicDefender
	url = https://github.com/Jthora/psionicDefender
